extends ../layout

block content
	section.hero.is-dark.shadow-inside
		.hero-body
			.container
				h3.title.title-with-shadow.is-size-4.has-text-centered Submissão #{submissao._id}
	
	section.m-t-16.m-b-16
		.container
			.panel
				.panel-heading: b Data: 
					| #{h.moment(submissao.data).format('DD/MM/YYYY - HH:MM:ss')}
					span.is-pulled-right Acerto: #{submissao.porcentagemAcerto}%
				.panel-block
					.container
						.columns
							.column.is-half
								p.subtitle.no-margin-bottom Código
								pre: code.javascript #{submissao.codigo}
							.column.is-half
								p.is-bold Nome: 
								p #{submissao.user.nome}
								p.is-bold Matrícula: 
								p #{submissao.user.matricula}
								table.table.is-bordered.is-narrow.is-fullwidth
									thead: tr
										th Entradas
										th Saída esperada
										th Saída
									tbody
										for res in submissao.resultados
											tr
												td #{res.entradas}
												td.is-saida-codigo #{res.saidaEsperada}
												td.is-saida-codigo #{res.saida}