mixin input({ label, type, name, placeholder, icon, value, hasAddon })
	.field(class=`${hasAddon ? 'has-addons' : ''}`)
		if label
			label.label= label
		.control.is-expanded(class=`${icon ? 'has-icons-left' : ''}`)
			input.input.is-primary(type=`${type || 'text'}`, name=name, placeholder=placeholder, value=value)
			if icon
			span.icon.is-small.is-left
				i.fa(class=`fa-${icon}`)
		if hasAddon
			.control
				a.button.is-static #{hasAddon}

mixin textarea({ rows, name, label, placeholder, value })
	.field
		label.label= label
		.control
			textarea.textarea.is-primary(rows=rows, name=name, placeholder=`${placeholder ? placeholder : ''}`)= value

mixin select({ name, label, placeholder, options, value, icon, multiple, size })
	.field
		label.label= label
		.control(class=`${icon ? 'has-icons-left' : ''}`)
			.select.is-fullwidth.is-primary(class=`${multiple ? 'is-multiple' : ''}`)
				select(name=name placeholder=placeholder, multiple=multiple, size=`${size ? size : '4'}`)
					for opt in options
						if typeof opt === 'object'
							option(value=opt.value) #{opt.text}
						else
							if opt === value
								option(selected) #{opt}
							else
								option #{opt}
			if icon
				.icon.is-small.is-left
					i.fa(class=`fa-${icon}`)