extends ../layout

block content
  section.hero.is-dark
    .hero-body
      .container
        p.title #{prova.titulo}
        p.subtitle Data de início: #{h.moment(prova.iniciou).format('DD/MM/YYYY - HH:mm')}
        p.subtitle Duração: #{prova.duracao} minutos

  section.section
    .container
      h2.subtitle Total de usuários que submeteram: #{totalSubmissoes}
      nav.tabs.is-boxed.is-centered
        ul
          for turma in submissoesPorTurma
            li(data-tab=`${turma.turmaId}` class=`${turma.turmaCodigo === submissoesPorTurma[0].turmaCodigo ? 'is-active' : ''}`)
              a 
                span.icon.is-small
                  i.fa.fa-file-text-o
                span #{turma.turmaCodigo}

  section.m-t-16.m-b-16
    .container.is-fluid
      for turma in submissoesPorTurma
        .tab-content(id=`${turma.turmaId}`, class=`${turma.turmaCodigo === submissoesPorTurma[0].turmaCodigo ? 'current-tab' : ''}`)
          for submissao in turma.submissoes
            .card
              header.card-header.card-toggle
                p.card-header-title 
                  a.preview-link #{submissao.user.nome + ' - ' + submissao.user.matricula}
                a.card-header-icon
                  | Submissões: #{submissao.submissoes.length}  - Visualizar
                  span.icon
                    i.fa.fa-angle-down
              .card-content(style="display: none;")
                //- - const submissoesOrdenadas = submissao.submissoes.sort((a, b) => (b.porcentagemAcerto - a.porcentagemAcerto))
                for sub, i in submissao.submissoes
                  .columns.is-multiline
                    .column.is-12
                      h3.has-text-centered.subtitle #{sub.questao.titulo}
                    .column.is-one-third
                      p.subtitle.no-margin-bottom Solução
                        pre: code.javascript #{sub.questao.solucao}
                    .column.is-one-third
                      p.subtitle.no-margin-bottom Código
                      pre: code.javascript #{sub.codigo}
                    .column.is-one-third
                      p.subtitle.no-margin-bottom Saídas: 
                        - const qtdAcertos = (sub.resultados.length*sub.porcentagemAcerto)/100;
                        b #{sub.porcentagemAcerto}% de acerto (#{qtdAcertos}/#{sub.resultados.length})
                      table.table.is-bordered.is-narrow.is-fullwidth
                        thead: tr
                          th Entradas
                          th Saída esperada
                          th Saída
                        tbody
                          for res in sub.resultados
                            tr
                              td #{res.entradas}
                              td.is-saida-codigo #{res.saidaEsperada}
                              td.is-saida-codigo #{res.saida}