extends layout

include mixins/forms/_inputs

block content
	section.hero.is-dark.shadow-inside
		.hero-body
			.container.has-text-centered
				h1.title.title-with-shadow.is-size-2 Nova questão
	
	section.m-t-16
		.container
			- const q = questao || {};
			form(id="form-questao" action=`/questao/adicionar/${q._id || ''}` method='POST')
				if q
					if q.resultados
						input(hidden, value=JSON.stringify(q.resultados), name="resultados")
					else 
						input(hidden, name="resultados")

					if q.solucao
						textarea(style="display: none;", name="solucao")= q.solucao
					else
						textarea(style="display: none;", name="solucao")
					
					.field.has-text-centered
						input.switch(type="checkbox" name="oculta" id="questao-oculta" checked=q.oculta)
						label(for="questao-oculta") Oculta (para uso em provas)
						
					+input({ 
						label: 'Título', 
						name: 'titulo',
						placeholder: 'Digite o título da questão', 
						icon: 'i-cursor', 
						value: q.titulo 
					})

					.columns
						.column
							+textarea({
								rows: 4,
								name: 'enunciadoLatex',
								label: 'Latex',
								value: q.enunciadoLatex
							})
						.column
							label.label Saída
								| 
								button.button.is-primary.is-small(id="btn-recarregar-enunciado-latex" type="button") Recarregar
								| 
								a.button.is-warning.is-small(href="https://khan.github.io/KaTeX/function-support.html" target="_blank") Ver funções disponíveis
							.box
								div(id="enunciado-latex")

					+textarea({
						row: 5,
						name: 'enunciado',
						label: 'Enunciado',
						value: q.enunciado
					})

					.columns
						.column
							+select({ 
								name: 'classificacao',
								label: 'Classificação', 
								placeholder: 'Selecione a classificação', 
								options: classificacoes, 
								value: q.classificacao,
								icon: 'certificate'
							})
						.column
							+select({ 
								name: 'dificuldade',
								label: 'Dificuldade', 
								placeholder: 'Selecione a dificuldade', 
								options: dificuldades, 
								value: q.dificuldade ,
								icon: 'star'
							})
							
					.field
						label.label Tags
						.select.is-fullwidth.is-primary
							select(name="tags" placeholder="Selecione tags" multiple)
								if q.tags
									for tag in q.tags
										option(value=tag, selected) #{tag}

					h2.title.has-text-centered Entrada e Saída
					article.message.is-info(role="alert") 
						.message-body
							| Cadastre as entradas e saídas esperadas para a questão abaixo.
							br  
							strong Nota: 
							|  Exemplo de entrada e exemplo de saída não são obrigatórios. Vetor de resultados é obrigatório.

					#json_editor(style="width: 100%; height: 400px;")
					h4.title.has-text-centered.m-t-16 Solução
					.container.m-t-16
						.columns
							.column.is-half
								div(id="questao-editor")
							.column.is-half
								button.button.is-primary.is-outlined.is-fullwidth(id="btn-enviar-codigo")
									span.icon.is-small
										i.fa.fa-cog
									span Executar
          
								h4.subtitle.m-t-16.no-margin-bottom Saída dos casos de teste
								ul.list-group(id="resultados-container")
					
					input.button.is-primary.is-fullwidth.is-large.m-t-16.m-b-16(type="submit" value="Salvar")

block styles
	link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet")
	link(rel="stylesheet" href="/dist/jsoneditor/dist/jsoneditor.min.css")
	link(rel="stylesheet" href="/js/vendors/katex/katex.min.css")

block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
	script(src="/dist/jsoneditor/dist/jsoneditor.min.js")
	script(src="/js/vendors/katex/katex.min.js")
	script(src="/dist/jquery.are-you-sure.js")
	script(src="/dist/Questao.bundle.js")