extends layout

block content
  .home-page
    .banner
      .container
        h1.logo-font Bem vindo!
        p Pronto para começar a praticar Javascript? 😁

    .container.page
      .row
        .col-md-9
          .feed-toggle
            ul.nav.nav-pills.outline-active(role="tablist")
              li.nav-item
                a.nav-link.active(data-toggle="tab" href="#listas_exercicio" role="tab") Listas de Exercício
              li.nav-item
                a.nav-link(data-toggle="tab" href="#questoes" role="tab") Questões

            .tab-content
              .tab-pane.fade.show.active(id="listas_exercicio" role="tabpanel")
                for lista in listasExercicio
                  .article-preview
                    .article-meta
                      a.preview-link(href=`/lista/${lista._id}`)
                        h1 #{lista.titulo}
                        .info
                          if user
                            - const progressoLista = filtrarSubmissoesLista(lista, submissoes);
                            if progressoLista
                              p Questões resolvidas: #{progressoLista['quantidadeResolvidas']} de #{lista.questoes.length} (#{progressoLista['porcentagem']}%)
                            else
                              p Questões: #{lista.questoes.length}, nenhuma resolvida
                          else
                            p Questões: #{lista.questoes.length}
                if permissoes.temPermissao(user, 'CREATE_QUESTAO')
                  a.btn.btn-outline-primary.pull-xs-right(href='/lista/adicionar') Adicionar Lista 
              .tab-pane.fade(id="questoes" role="tabpanel")
                table.table.table-sm.table-bordered.table-hover(id="questoes_table")
                  thead
                    tr
                      th Título
                      th Lista
                      th Classificação
                      if user
                        th Submissões
                      th  
                  tbody
                    - questoes = questoes.sort((a, b) => (b.likes - a.likes))
                    for questao in questoes
                      tr(data-url=`/questao/${questao._id}`)
                        td #{questao.titulo}
                        if questao.enunciado.startsWith('[L')
                          - const index = questao.enunciado.indexOf(']')
                          - const lista = questao.enunciado.substring(0, index+1)
                          td= lista
                        else
                          td
                        td #{questao.classificacao}
                        if user
                          td #{submissoes.has(questao._id.toString()) ? submissoes.get(questao._id.toString()) : 0}
                        td
                          if user
                            form(name="favoritar-questao-form" method="POST" action=`/api/v1/questoes/${questao._id}/favoritar`)
                              - const questoesFavoritas = user.questoesFavoritas.map(obj => obj.toString())
                              - const btnClass = questoesFavoritas.includes(questao._id.toString()) ? 'btn-primary favoritado' : 'btn-outline-primary'
                              button.btn.btn-sm(class=btnClass type="submit" name="btn_favoritar")
                                i.ion-thumbsup
                                |  
                                span(name="btn_favoritar_likes") #{questao.likes}
                          else 
                            button.btn.btn-sm.btn-outline-primary(name="btn-favoritar-no-user")
                                i.ion-thumbsup
                                |  #{questao.likes}
                
                if permissoes.temPermissao(user, 'CREATE_QUESTAO')
                  div(id="div0")
                    a.btn.btn-outline-primary.pull-xs-right(href='/questao/adicionar' id="adicionar_questao")
                      |Adicionar Questão
        .col-md-3
          .sidebar
            p Tags
            .tag-list
              for tag in tags
                a.tag-pill.tag-default(href='') #{tag}

block scripts
  script(src="/dist/index.bundle.js")
