extends layout

include mixins/_listaCard
include mixins/_tabelaQuestoes

block content
  section.hero.is-primary.shadow-inside
    .hero-body
      .container.has-text-centered
        h1.title.title-with-shadow.is-size-2 Bem vindo!
        h2.subtitle Pronto para começar a praticar Javascript? 😁
    .hero-foot
      .container
        nav.tabs.is-boxed.is-centered
          ul
            li.is-active(data-tab="listas_exercicio")
              a 
                span.icon.is-small
                  i.fa.fa-file-text-o
                span Listas de Exercício
            li(data-tab="listas_laboratorio")
              a 
                span.icon.is-small
                  i.fa.fa-file-text-o
                span Listas de Laboratório
            li(data-tab="questoes")
              a 
                span.icon.is-small
                  i.fa.fa-file-text-o
                span Questões
            
  section.m-t-16.m-b-16
    .container.is-fluid
      - const listasExercicioLaboratorio = listasExercicio.filter(l => l.titulo.includes('Laboratório'))
      - const listasExercicioRegular = listasExercicio.filter(l => !l.titulo.includes('Laboratório'))
      .tab-content.current-tab(id="listas_exercicio")
        .columns
          for lista in listasExercicioRegular
            .column.is-half
              +listaCard(lista)
      .tab-content(id="listas_laboratorio")
        .columns.is-multiline.is-tablet
          for lista in listasExercicioLaboratorio
            .column.is-half
              +listaCard(lista)
      .tab-content(id="questoes")
        +tabelaQuestoes(questoes)

  .container.page
    .row
      .col-md-9
        .feed-toggle
          //- ul.nav.nav-pills.outline-active(role="tablist")
            li.nav-item
              a.nav-link.active(data-toggle="tab" href="#listas_exercicio" role="tab") Listas de Exercício
            li.nav-item
              a.nav-link(data-toggle="tab" href="#listas_laboratorio" role="tab") Listas de Laboratório
            li.nav-item
              a.nav-link(data-toggle="tab" href="#questoes" role="tab") Questões

          //- .tab-content
            - const listasExercicioLaboratorio = listasExercicio.filter(l => l.titulo.includes('Laboratório'))
            - const listasExercicioRegular = listasExercicio.filter(l => !l.titulo.includes('Laboratório'))
            .tab-pane.fade.show.active(id="listas_exercicio" role="tabpanel")
              for lista in listasExercicioRegular
                .article-preview
                  .article-meta
                    if permissoes.temPermissao(user, 'CREATE_QUESTAO')
                      a.pull-xs-right(href=`/lista/editar/${lista._id}`, title="Editar Lista")
                        i.ion-edit
                    a.preview-link(href=`/lista/${lista._id}`)
                      h1 #{lista.titulo}
                      .info
                        if user
                          - const progressoLista = filtrarSubmissoesLista(lista, submissoes);
                          - questoesLista = lista.questoes || []
                          if progressoLista && questoesLista.length > 0
                            p Questões resolvidas: #{progressoLista['quantidadeResolvidas']} de #{questoesLista.length} (#{progressoLista['porcentagem']}%)
                          else if questoes && questoesLista.length > 0
                            p Questões: #{questoesLista.length}, nenhuma resolvida
                          else
                            p Questões: 0
                        else
                          p Questões: #{lista.questoes.length}
              if permissoes.temPermissao(user, 'CREATE_QUESTAO')
                a.btn-adicionar-lista.btn.btn-outline-primary.pull-xs-right(href='/lista/adicionar') Adicionar Lista
            .tab-pane.fade(id="listas_laboratorio" role="tabpanel")
              for lista in listasExercicioLaboratorio
                .article-preview
                  .article-meta
                    if permissoes.temPermissao(user, 'CREATE_QUESTAO')
                      a.pull-xs-right(href=`/lista/editar/${lista._id}`, title="Editar Lista")
                        i.ion-edit
                    a.preview-link(href=`/lista/${lista._id}`)
                      h1 #{lista.titulo}
                      .info
                        if user
                          - const progressoLista = filtrarSubmissoesLista(lista, submissoes);
                          - questoesLista = lista.questoes || []
                          if progressoLista && questoesLista.length > 0
                            p Questões resolvidas: #{progressoLista['quantidadeResolvidas']} de #{questoesLista.length} (#{progressoLista['porcentagem']}%)
                          else if questoesLista && questoesLista.length > 0
                            p Questões: #{questoesLista.length}, nenhuma resolvida
                          else
                            p Questões: 0
                        else
                          p Questões: #{lista.questoes.length}
              if permissoes.temPermissao(user, 'CREATE_QUESTAO')
                a.btn-adicionar-lista.btn.btn-outline-primary.pull-xs-right(href='/lista/adicionar') Adicionar Lista
            .tab-pane.fade(id="questoes" role="tabpanel")
              
              
              if user && permissoes.temPermissao(user, 'CREATE_QUESTAO')
                a.btn.btn-outline-primary.pull-xs-right(href='/questao/adicionar' id="adicionar_questao")
                  |Adicionar Questão
      //- .col-md-3
        .sidebar
          p Tags
          .tag-list
            for tag in tags
              a.tag-pill.tag-default(href='') #{tag}

block scripts
  script(src="/dist/index.bundle.js")
