doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="/styles/main.css", type="text/css")
    link(href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel="stylesheet", type="text/css")
    //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic", rel="stylesheet", type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block navbar
      nav.navbar.navbar-light
        .container
          a.navbar-brand(href='/') #{h.siteName}
            | 
            small(style="color: gray;") alpha
          ul.nav.navbar-nav.pull-xs-right
            each item in h.menu
              li.nav-item
                a.nav-link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'active' : ''))
                  if item.icon
                    i(class=item.icon)
                    |  #{item.title}
                  else
                    != item.title
            if user
              li.nav-item: a.nav-link(href="/perfil", class=(currentPath.startsWith("/perfil") ? 'active' : '')) Perfil
              li.nav-item: a.nav-link(href="/logout") Sair
            else
              li.nav-item: a.nav-link(href="/cadastro", class=(currentPath.startsWith("/cadastro") ? 'active' : '')) Cadastro
              li.nav-item: a.nav-link(href="/login", class=(currentPath.startsWith("/login") ? 'active' : '')) Login

    block messages
      if locals.flashes
        .container
          .row
            .col-md-8.offset-md-2.col-xs-12
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .alert(class=`flash-message alert-${category} alert-dismissible`, role="alert")
                    button.close(data-dismiss="alert", aria-label="Fechar", onClick="this.parentElement.remove()")
                      span(aria-hidden="true") &times;
                    != message
                  
    block content

    block footer
      footer
        .container
          a(href="/" class="logo-font") #{h.siteName}
          span.attribution Plataforma open-source de gerenciamento de exercícios de programação
    
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
    script(src="/dist/main.bundle.js")
    block scripts
      