doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/styles/bulma/bulma.css", type="text/css")
    link(rel="stylesheet", href="/styles/tema.css", type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    block styles
  body
    block navbar
      nav.navbar.is-transparent
        .navbar-brand
          a.navbar-item.has-text-primary(href='/') #{h.siteName}
            | 
            small(style="color: gray;") alpha
          a.navbar-item(href='https://github.com/lar-ect/plataforma-lop', target='_blank')
            span.icon(style='color: #333;')
              i.fa.fa-github
          .navbar-burger(data-target="navMenu")
            span
            span
            span
        .navbar-menu(id="navMenu")
          .navbar-start
            if user
              a.navbar-item(href="/perfil", class=(currentPath.startsWith("/perfil") ? 'is-active' : '')) Perfil
              if permissoes.temPermissao(user, 'VER_GERENCIADOR')
                a.navbar-item(href="/gerenciador", class=(currentPath.startsWith("/gerenciador") ? 'is-active' : '')) Gerenciador
            else
              a.navbar-item(href="/cadastro", class=(currentPath.startsWith("/cadastro") ? 'is-active' : '')) Cadastro
              a.navbar-item(href="/login", class=(currentPath.startsWith("/login") ? 'is-active' : '')) Login
          .navbar-end
            a.navbar-item(href="/") Início
            a.navbar-item(href="" id="btn-sugestao") Sugestão
            if user
              a.navbar-item(href="/logout") Sair

    block messages
      if locals.flashes
        .container
          .columns
            .column.is-half.is-offset-one-quarter
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .notification.m-b-16(class=`is-${category}`, role="alert")
                    button.delete(aria-label="Fechar", onClick="this.parentElement.remove()")
                    != message
                  
    .content-block
      block content

    block footer
      footer.hero.is-dark
        .hero-body
          .container.has-text-centered
            p
              a.icon(href="https://github.com/lar-ect/plataforma-lop")
                i.fa.fa-github
              | Plataforma open-source de gerenciamento de exercícios de programação
    
    if env === 'production'
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56195918-5', 'auto');
        ga('send', 'pageview');
        
    script(src="http://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    script(src="/js/vendors/jquery.matchHeight.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="/dist/main.bundle.js")
    script(src="/js/navbar.js")
    script(src="/js/tabs.js")
    script(src="/js/cards.js")
    script(src="/js/modal.js")
    block scripts
      