extends ../layout

block content
    .home-page
        .banner
            .container
                h1.logo-font Listas de exercício

        .container.page
            .row
                .col-md-12
                    if listas.length === 0
                        p(style="text-align: center;") Nenhuma lista cadastrada 😔
                    for lista in listas
                        .article-preview
                            .article-meta
                                if user
                                    form(name="favoritar-lista-form" method="POST" action=`/api/v1/lista/${lista._id}/favoritar`)
                                        - const listasFavoritas = user.listasFavoritas.map(obj => obj.toString())
                                        - const btnClass = listasFavoritas.includes(lista._id.toString()) ? 'btn-primary favoritado' : 'btn-outline-primary'
                                        button.btn.btn-sm.pull-xs-right(class=btnClass type="submit" name="btn_favoritar")
                                            i.ion-thumbsup
                                            |  
                                            span(name="btn_favoritar_likes") #{lista.likes}
                                else 
                                    button.btn.btn-sm.btn-outline-primary.pull-xs-right(name="btn-favoritar-no-user")
                                            i.ion-thumbsup
                                            |  #{lista.likes}
                            a.preview-link(href=`/lista/${lista._id}`)
                                h1 #{lista.titulo}