extends ../layout

block content
  input(type="hidden", name="questaoId", value=questao.identificador)
  .article-page
    .banner
      .container
        h3 Questão #{questao.identificador} - #{questao.titulo}

  .container.page
    .row.article-content
      .col-md-12
        if user && user.admin
          pre(style="white-space:pre;") #{solucao}
        h5: b Enunciado
        p.text-justify(style="white-space: pre-line") #{questao.enunciado}
        p.text-center
          strong Exemplo de Entrada: 
          != questao.exemploEntrada.join(' ')
        p.text-center 
          strong Saída Esperada: 
          != questao.exemploSaida
        
    .row
      .col-md-6
        div(id="questao-editor")
      .col-md-6
        .btn-group.btn-block(role="group")
          button.btn.btn-outline-primary(id="btn-enviar-codigo") Executar
          button.btn.btn-outline-primary(id="btn-submeter") Submeter
          button.btn.btn-outline-primary.btn-tooltip(data-theme="light", title=h.funcoesDisponiveis) Ver funções disponíveis
        
        h4(style="margin-top: 10px;") Saída
        ul.list-group(id="resultados-container")

block scripts
  script(src="/dist/Editor.bundle.js")
  
