extends ../layout

block content
  input(type="hidden", name="questaoId", value=questao._id)
  .article-page
    .banner
      .container
        h3 #{questao.titulo}

  .container.page
    .row.article-content
      .col-md-12.col-sm-12.col-xs-12
        if user && permissoes.temPermissao(user, 'VER_SOLUCAO_QUESTAO')
          h5: b Solução
          pre: code.javascript(style='white-space: pre-line') #{questao.solucao}
        h5: b Enunciado
        p.text-justify(style="white-space: pre-line") #{questao.enunciado}
        p.text-center
          strong Exemplo de entrada: 
        p(style='white-space: pre-line;') #{questao.resultados[0].entradas.join(' ')}
        p.text-center 
          strong Exemplo de saída esperada: 
        p(style='white-space: pre-line;') #{questao.resultados[0].saida}
        
    .row
      .col-md-6.col-sm-12.col-xs-12
        div(id="questao-editor")
      .col-md-6.col-sm-12.col-xs-12
        .btn-group.btn-block(role="group")
          button.btn.btn-outline-primary(id="btn-enviar-codigo") Executar
          button.btn.btn-outline-primary(id="btn-submeter" disabled=!user) Submeter
          button.btn.btn-outline-primary.btn-tooltip(data-theme="light" data-size="small", title=h.funcoesDisponiveis) Ver funções disponíveis
        
        h4(style="margin-top: 10px;") Saída do seu código
        ul.list-group(id="resultados-container")

block scripts
  script(src="/dist/Editor.bundle.js")
  
