extends ../layout

block content

  iframe(sandbox='allow-scripts allow-modals' id='sandboxed-iframe' src='/frame.html')

  input(type="hidden", name="questaoId", value=questao._id)
  if listaId
    input(type="hidden", name="listaId", value=listaId)
  section.hero.is-dark
    .hero-body
      .container
        p.title #{questao.titulo}
        p.subtitle Classificação: #{questao.classificacao}

  section.m-t-16
    .container
      nav.level
        .level-left
          .level-item
            .field.has-addons
              .control
                a.button.is-static Linguagem
              .control.has-icons-left
                .select.is-primary
                  select
                    option Javascript
                span.icon.is-small.is-left
                  i.fa.fa-code
              .control
                button.button.is-primary.is-outlined(data-toggle="modal" data-target="#modal-funcoes-disponiveis") Ver funções disponíveis
                .modal(id="modal-funcoes-disponiveis")
                  .modal-background
                  .modal-content
                    != h.funcoesDisponiveis
                  button.modal-close.is-large(aria-label="close")
        .level-right
          .level-item
            .field.has-addons
              if user && permissoes.temPermissao(user, 'CREATE_QUESTAO')
                p.control
                  a.button.is-primary.is-outlined(href=`/questao/adicionar/${questao._id}`)
                    span.icon.is-small
                      i.fa.fa-pencil
                    span Editar
              if listaId
                p.control
                  a.button.is-primary.is-outlined(href=`/lista/${listaId}`)
                    span.icon.is-small
                      i.fa.fa-file-text-o
                    span Voltar à lista
              if idQuestaoAnterior
                p.control
                  a.button.is-primary.is-outlined(href=`/questao/${idQuestaoAnterior}?lista=${listaId}`)
                    span.icon.is-small
                      i.fa.fa-chevron-left
                    span Anterior
              if idProximaQuestao
                p.control
                  a.button.is-primary.is-outlined(href=`/questao/${idProximaQuestao}?lista=${listaId}`)
                    span Próxima
                    span.icon.is-small
                      i.fa.fa-chevron-right
  section    
    .container.m-t-16
      .columns
        .column.is-two-thirds
          .box(data-mh="grupo-mh-enunciado-exemplos")
            h6.is-size-5.is-bold Enunciado
            hr.is-marginless
            p.enunciado-questao #{questao.enunciado}
            if questao.enunciadoLatex
              div.has-text-centered.m-t-16!= h.renderizarLatex(questao.enunciadoLatex)
        .column
          .box.has-text-centered(data-mh="grupo-mh-enunciado-exemplos")
            p: b Exemplo de entrada:
            p(style='white-space: pre-line;') #{questao.resultados[0].entradas.join(' ')}
            p: b Exemplo de saída esperada: 
            p(style='white-space: pre-line;') #{questao.resultados[0].saida}
    
    .container.m-t-16
      .columns
        .column.is-half
          div(id="questao-editor")
        .column.is-half
          .level
            .level-left
              .level-item
                .field.has-addons
                  .control
                    button.button.is-primary.is-outlined(id="btn-rodar-codigo")
                      span.icon.is-small
                        i.fa.fa-play
                      span Rodar
                  .control
                    button.button.is-primary.is-outlined(id="btn-enviar-codigo")
                      span.icon.is-small
                        i.fa.fa-cog
                      span Executar
                  .control
                    button.button.is-primary.is-outlined(id="btn-submeter" disabled=!user)
                      span.icon.is-small
                        i.fa.fa-floppy-o
                      span Submeter
          
          h4.subtitle Saída dos casos de teste
          ul.list-group(id="resultados-container")
    
    if user && permissoes.temPermissao(user, 'VER_SOLUCAO_QUESTAO')
      .container.m-b-16.m-t-16
        h4.is-size-5 Solução
        pre: code.javascript #{questao.solucao}

block styles
  if questao.enunciadoLatex
    link(rel="stylesheet" href="/js/vendors/katex/katex.min.css")

block scripts
  if questao.enunciadoLatex
    script(src="/js/vendors/katex/katex.min.js")
  script(src="/dist/Editor.bundle.js")
  //- script(src="/js/vendors/jailed-0.3.1/lib/jailed.js")
  //- script(src="/js/workers/client.js")