extends ../layout

block content
	.article-page
		.banner
			.container
				h3 #{turma.descricao}

	.container.page
		.row
			.col-md-12
				.feed-toggle
					ul.nav.nav-pills.outline-active
						li.nav-item
							a.nav-link.active(data-toggle="tab" href="#submissoes" role="tab") Submissões
						li.nav-item
							a.nav-link(data-toggle="tab" href="#alunos" role="tab") Alunos

					.tab-content
						.tab-pane.active(id="submissoes" role="tabpanel")
							br
							if submissoes.length === 0
								p Nenhuma submissão recente.
							else
								table.table.table-bordered.table-hover.table-sm
									thead
										tr
											th Aluno
											th Data
											th Questão
											th Qnt. Testes
											th Acerto (%)
											th Ações
									tbody
										for submissao in submissoes
											tr 
												td: a(href='/') #{submissao.user.nome}
												td #{h.moment(submissao.data).format('DD/MM/YYYY - HH:ss')}
												td: a(href=`/questao/${submissao.questao._id}`) #{submissao.questao.titulo}
												td #{submissao.resultados.length}
												td #{submissao.porcentagemAcerto}%
												td: a(href=`/submissao/${submissao._id}`) Visualizar
						.tab-pane(id="alunos" role="tabpanel")
							br
							table.table.table-bordered.table-hover.table-sm
								thead
									tr
										th Matrícula
										th Nome
										th Ações
								tbody
									for aluno in dicentes
										tr
											td #{aluno.matricula}
											td #{aluno.nome}
											td: a(href='/') Ver aluno