extends ../layout

block content
	section.hero.is-dark.shadow-inside
		.hero-body
			.container
				h3.title.title-with-shadow.is-size-4.has-text-centered #{turma.descricao}
		.hero-foot
			.container
				nav.tabs.is-boxed.is-centered
					ul
						li.is-active(data-tab="submissoes")
							a 
								span.icon.is-small
									i.fa.fa-floppy-o
								span Submissões
						li(data-tab="alunos")
							a
								span.icon.is-small
									i.fa.fa-graduation-cap
								span Alunos

	section.m-t-16.m-b-16
		.container
			.tab-content.current-tab(id="submissoes")
				if submissoes.length === 0
					p Nenhuma submissão recente.
				else
					table.table.is-fullwidth
						thead
							tr
								th Matrícula
								th Aluno
								th(data-type="date" data-format-string="DD/MM/YYYY - HH:ss") Data
								th Questão
								th Acerto (%)
								th Ações
						tbody
							for submissao in submissoes
								tr 
									td #{submissao.user.matricula}
									td: a(href=`/perfil/${user._id}`) #{submissao.user.nome}
									td(data-sort-value=`${+h.moment(submissao.data)}`) #{h.moment(submissao.data).format('DD/MM/YYYY - HH:ss')}
									td: a(href=`/questao/${submissao.questao._id}`) #{submissao.questao.titulo}
									td #{submissao.porcentagemAcerto}%
									td: a(href=`/submissao/${submissao._id}`) Visualizar
			.tab-content(id="alunos")
				table.table.is-fullwidth
					thead
						tr
							th Matrícula
							th Nome
							th Ações
					tbody
						for aluno in dicentes
							tr
								td #{aluno.matricula}
								td #{aluno.nome}
								td: a(href='/') Ver aluno

block styles
	link(rel="stylesheet", href="/js/vendors/footable/css/footable.standalone.min.css", type="text/css")

block scripts
	script(src="/js/vendors/footable/js/footable.min.js")
	script(src="/js/tabelas/default.js")