extends ../layout

block content
  .profile-page
    .user-info
      .container
        .row
          .col-xs-12.col-md-10.offset-md-1
            img.user-img(src=user.gravatar)
            h4= user.nome
            if user.sigaa
              p Usuário vínculado ao sigaa com matrícula 
                b #{user.sigaa.matricula}
            else
              a.btn.btn-secondary(href="/auth/sigaa") Vincular ao sigaa
    .container
      .row
        .col-xs-12.col-md-10.offset-md-1
          .articles-toggle
            ul.nav.nav-pills.outline-active
              li.nav-item
                a.nav-link.active(data-toggle="tab" href="#submissoes_recentes" role="tab") Submissões recentes
            
            .tab-content
              .tab-pane.active(id="submissoes_recentes" role="tabpanel")
                br
                table.table.table-bordered.table-hover.table-sm
                  thead
                    tr
                      th Data
                      th Título
                      th Qnt. Testes
                      th Acerto (%)
                      th Tempo de execução
                  tbody
                    for submissao in submissoes
                      tr 
                        td #{submissao.data}
                        td #{submissao.questao.titulo}
                        td #{submissao.resultados.length}
                        td #{submissao.porcentagemAcerto}%
                        td #{submissao.tempo}